h1 {
    color:red;
}

.header{
    background-color:silver;
    display:flex;
    justify-content:centre;
}
h2,p{
    text-align: center;
}
.games{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly
}
.footer{
    display:flex;
    justify-content:flex-end;
}